# Dependencies
node_modules/

# Production Build (Frontend)
pharmatrack-frontend/dist/

# Environment variables
.env
**/.env

pharmatrack-backend/uploads/*
!pharmatrack-backend/uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

*.sql
*.txt
