# Dependencies
node_modules/

# Production Build (Frontend)
pharmatrack-frontend/dist/

# Environment variables
.env
**/.env

# User Uploads (Ignore images, keep folder structure)
pharmatrack-backend/uploads/*
!pharmatrack-backend/uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# Ensure Unit Tests are tracked (required for examiners)
!**/tests/**/*.js

# General temporary files
*.sql
*.txt
