# Project Dependencies
**/node_modules/
**/uploads/

# Production Build Artifacts
**/dist/
**/dist-ssr/

# Environment Secrets
**/.env
**/.env.local

# Vite Caching
**/.vite/

# Logs
*.log
npm-debug.log*

# OS & IDE Junk
.DS_Store
Thumbs.db
.vscode/
.idea/

